<h1>Cloudy API: PHP Functions</h1>

These mirror the BASH like-named functions for use in PHP.

<div class="function-index">
  {% for function in api_functions %}
    <a>{{ function.name }}</a>
{#    <a href="#{{ function.name }}">{{ function.name }}</a>#}
  {% endfor %}
</div>
